div(layout-fill)

  div(layout='row' layout-fill)

    md-sidenav.md-sidenav-left.md-whiteframe-z2#left-nav(
      md-component-id='left-nav'
      md-is-locked-open="$mdMedia('gt-md')"
      md-is-open="ctrl.isSideNavOpen"
      layout-fill
    )
      md-toolbar.md-toolbar-tools(hide-gt-md='' layout-margin layout-padding flex style='padding-bot: 10px')
        h1 Istorija
        span(flex='')
        md-button(ng-click='ctrl.closeSideNav()')
          | Uždaryti
      md-content
        div(layout='column')
          md-content.md-toolbar-tools(hide-sm, hide-md)
            strong.md-headline Istorija
          md-button(ng-if='ctrl.history.length < 1') Istorija tuščia
          md-button.left-align(ng-repeat='history in ctrl.history track by $index' ng-click='ctrl.historyClicked(history)' md-no-ink='')
            a.md-title {{ history }}
        div(layout-align='center' layout='center')
          md-button.md-raised.md-primary.md-hue-2(ng-click='ctrl.deleteHistory()' ng-if='ctrl.history.length' flex='80')
            | Trintri istoriją

    md-content.scrollBind.md-whiteframe-z2(flex layout-fill, style='margin: 10px')
      md-subheader.md-primary(hide-sm)
        div
          p(style='display:inline-block') Kirčiavimo programa
          md-icon(md-svg-icon="maps:navigation" aria-label="Scroll to top" ng-if="ctrl.scrollTop" ng-click="ctrl.scrollTopClick()" flex-offset-md='55' flex-offset-gt-sm='85')
      md-content(layout-padding)
        form(name='wordInputForm' ng-submit='ctrl.kirciuoti()' layout='column' layout-align='center center')

          div
            md-input-container.w360.icon-right
              label Sukirčiuoti žodį
              input(
                ng-model='ctrl.wordInput'
                md-minlength='1'
                md-maxlength='30'
                name='word'
                aria-label='Sukirčiuoti žodį'
              )
              md-icon(md-svg-icon="content:clear" ng-show="wordInputForm.word.$viewValue" ng-click="ctrl.clearInput()")
              div(
                ng-messages='wordInputForm.word.$error'
                role='alert'
              )
                .my-message(ng-message='md-maxlength')
                  | Žodžio ilgis turi būti mažiau, nei 30 simbolių

          div
            md-button.w360.md-raised.md-primary.md-hue-2(type='submit')
              | Kirčiuoti

          div(layout='column' layout-align='center center' layout-padding)
            div(ng-repeat='item in ctrl.data' layout-padding)
              div.center-align
                div.word
                  strong {{ item.word }}
                  | &nbsp;
                  em ({{ item.class }})
                md-chips.md-readonly(ng-model='item.state' readonly='true')
                  md-chip-template.data
                    | {{$chip}}
