div(layout-fill)
  div(layout='row')

    md-sidenav.md-sidenav-left.md-whiteframe-z2#left-nav(
      md-component-id='left-nav'
      md-is-locked-open="$mdMedia('gt-md')"
      layout='column'
      md-is-open="ctrl.isSideNavOpen"
    )
      md-toolbar.md-toolbar-tools
        h1 Istorija
        span(flex='')
        md-button(ng-click='ctrl.closeSideNav()' hide-gt-md='')
          | Uždaryti
      md-content
        div(layout='column')
          md-button.left-align(ng-repeat='history in ctrl.history track by $index' ng-click='ctrl.historyClicked(history)')
            a.md-title {{ history }}
        div(layout-align='center' layout='center')
          md-button.md-raised.md-primary.md-hue-2(ng-click='ctrl.deleteHistory()' ng-if='ctrl.history.length' flex='80')
            | Trintri istoriją

    md-content(flex)

      //md-toolbar
      //  .md-toolbar-tools(layout='row' layout-align='space-between center')
      //    h1 Kirčiavimo programa
      //    md-button.md-primary(ng-click='ctrl.toggleLeft()' hide-gt-md) Istorija

      md-content(layout-padding)
        form(name='wordInputForm' ng-submit='ctrl.kirciuoti()' layout='column' layout-align='center center')

          div
            md-input-container.w360.icon-right
              label Sukirčiuoti žodį
              input(
                ng-model='ctrl.wordInput'
                md-minlength='1'
                md-maxlength='30'
                name='word'
                aria-label='Sukirčiuoti žodį'
              )
              md-icon(md-svg-icon="content:clear" ng-show="wordInputForm.word.$viewValue" ng-click="ctrl.clearInput()")
              div(
                ng-messages='wordInputForm.word.$error'
                role='alert'
              )
                .my-message(ng-message='md-maxlength')
                  | Žodžio ilgis turi būti mažiau, nei 30 simbolių

          div
            md-button.w360.md-raised.md-primary.md-hue-2(type='submit' ng-disabled-="!ctrl.wordInput")
              | Kirčiuoti

          div(layout='column' layout-align='center center' layout-padding)
            div(ng-repeat='item in ctrl.data' layout-padding)
              div.center-align
                div.word
                  strong {{ item.word }}
                  | &nbsp;
                  em ({{ item.class }})
                md-chips.md-readonly(ng-model='item.state' readonly='true')
                  md-chip-template.data
                    | {{$chip}}
