div(layout-fill)
  div(layout='row')

    md-sidenav.md-sidenav-left.md-whiteframe-z2#left-nav(
      md-component-id='left-nav'
      md-is-locked-open="$mdMedia('gt-md')"
      layout='column'
    )
      md-toolbar.md-toolbar-tools
        h1 Istorija
        span(flex='')
        md-button(ng-click='ctrl.closeSideNav()' hide-gt-md='')
          | Uždaryti
      md-content(flex layout-padding)
        div(show-gt-md)
          div(ng-repeat='history in ctrl.history track by $index')
            p.md-title(flex) {{ history }}
          div(layout-align='center' layout='center')
            md-button.md-raised.md-primary.md-hue-2(ng-click='ctrl.deleteHistory()' ng-if='ctrl.history.length')
              | Trintri istoriją

    md-cotent(flex)

      md-toolbar
        .md-toolbar-tools(layout='row' layout-align='space-between center')
          h1 Kirčiavimo programa
          md-button.md-primary(ng-click='ctrl.toggleLeft()' hide-gt-md) Istorija

      md-content(layout='column' layout-padding)
        div.mainContent
          form(name='wordInputForm' ng-submit='ctrl.kirciuoti()')
            md-input-container(layout='column' layout-align='center center')

              .wrapper

                div(layout='column')

                  div(layout='row' layout-align='start center')
                    label(layout-margin) Sukirčiuoti žodį
                  input(
                    ng-model='ctrl.wordInput'
                    md-minlength='1'
                    md-maxlength='30'
                    name='word'
                    aria-label='Sukirčiuoti žodį'
                    layout-margin
                    flex
                  )
                  div(
                    ng-messages='wordInputForm.word.$error'
                    role='alert'
                    multiple
                    flex
                    layout-margin
                    lauout-align='start center'
                    layout='row'
                  )
                    div.my-message(ng-message='md-maxlength')
                      | Žodžio ilgis turi būti mažiau, nei 30 simbolių

                div(layout='column')
                  md-button.md-raised.md-primary.md-hue-2(type='submit')
                    | Kirčiuoti

                div(layout='column' layout-align='center center' layout-padding)
                  div(ng-repeat='item in ctrl.data' layout-margin)
                    div(layout='column' layout-align='start start')
                      div(layout-margin)
                        strong {{ item.word }}
                        | &nbsp;
                        em ({{ item.class }})
                      md-chips.md-readonly(ng-model='item.state' readonly='true' layout='column')
                        md-chip-template(class='data')
                          | {{$chip}}

  md-toolbar(layout='row' layout-align="center center" id='footer')
    span.md-subhead
     | © UAB Sistemium 2015
